@use "src/app/colors";

.routeStepsContainer {
  display: flex;
  align-items: center;
  width: max-content;
  column-gap: 8px;

  .route {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;

    &.disabled {
      color: colors.$medium-gray;
      cursor: default;
    }
  }
}

.rightArrow {
  color: colors.$dark-gray;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: right;
  cursor: default;
}
