@use "src/app/colors";

.dashboardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.infoSection {
  background-color: colors.$ambank-red !important;
  color: white;
  letter-spacing: 0.05em !important;

  .infoWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .role {
      border: 1px solid white;
      border-radius: 3px;
      width: max-content;
      padding: 5px 10px;
  
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
    }
  
    .detailsWrapper {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
  
      .greeting {
        font-size: 26px;
        font-weight: 400;
        line-height: 31px;
      }
      .logindt {
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}

.taskWrapper {
  display: flex;
  justify-content: center;

  column-gap: 40px;
}

.taskViewContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;

  border: 1px solid colors.$separator-gray;
  border-radius: 4px;
  row-gap: 24px;

  padding-top: 40px;
  padding-bottom: 40px;

  .taskButton {
    width: max-content;
  }
}