@use "src/app/colors";

.body {
  margin: 0;
  background-color: colors.$ultralight-gray;

  display: flex;
  flex-direction: column;

  .dimmingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$dimmed-gray;
    z-index: 500;

    &.active {
      display: block;
    }
  }

  .controlbar {
    display: flex;
    width: 100%;
    height: 72px;
    background-color: white;
    box-shadow: 0px 9px 9px 0px colors.$verylight-gray;

    .logoSection {
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: colors.$ambank-red;
    }
    .actionsSection {
      display: flex;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      justify-content: space-between;
      align-items: center;
      color: colors.$dark-gray;

      .header {
        font-family: colors.$font-lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: black;
      }
      .actions {
        display: flex;
        align-items: center;
        column-gap: 16px;
        .summary {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
          .summaryName {
            font-family: colors.$font-lato;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: right;
          }
          .summaryRole {
            font-family: colors.$font-lato;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: right;
            color: colors.$medium-gray;
          }
        }
        .item {
          display: flex;
          justify-content: center;
          width: 40px;
        }
      }
    }
  }
  .sidebar {
    // Positioning CSS
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    background: #333;
    transition: right 0.3s;
    z-index: 1000;
    // Positioning CSS end

    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;

    &.active {
      right: 0;
    }

    .userInfo {
      height: 200px;
      width: 100%;
      background-color: darkred;
      padding-top: 20px;
      padding-bottom: 44px;
      .wrapper {
        .closeButton {
          display: flex;
          justify-content: right;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 24px;
        }
        display: flex;
        flex-direction: column;

        .infoSection {
          display: flex;
          flex-direction: column;
          row-gap: 12px;

          padding-top: 24px;
          padding-bottom: 24px;
          padding-left: 16px;
          padding-right: 16px;

          font-family: colors.$font-inter;
          letter-spacing: 0em;

          .username {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
          }

          .phoneEmailWrapper {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            .phone {
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
            }
            .email {
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
            }
          }
        }
      }
    }
    .actions {
      height: 80%;
      width: 100%;
      background-color: red;
      .wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        column-gap: 36px;

        .btn {
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          column-gap: 24px;

          padding-left: 16px;
          padding-right: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
          &:hover {
            background-color: yellow;
            color: colors.$dark-gray;
          }
          .icon {
            color: inherit;
          }
          .label {
            font-family: colors.$font-lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
          }
        }
      }
    }
  }
  .content {
    margin: 40px;
  }
}
.pointer {
  cursor: pointer;
}
