@use "src/app/colors";

.fieldContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .title {
    color: colors.$dark-gray;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
  }
  .input {
    border: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
  }
  .root {
    padding: 0;
    background-color: colors.$light-gray;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    &:focus-within {
      outline: -webkit-focus-ring-color auto 1px
    }

    .searchIcon {
      padding-left: 16px;
    }
    .endAdornment {
      padding-right: 16px;
    }
  }
}
.dropdownItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  height: 40px;
  width: 100%;
}
