@use "src/app/colors";

.dateRangePicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 8px;

  .label {
    color: colors.$dark-gray;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }
  .pickerSection {
    height: 40px;
    display: flex;
    align-items: center;  
    .pickerSeparator {
      color: colors.$medium-gray;
      padding-left: 15.5px;
      padding-right: 15.5px;
    }
    .picker {
      background-color: colors.$light-gray;
      flex-grow: 1;
      border-radius: 4px;
      &:focus-within {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
  }
}
