@use "src/app/colors";

.dimmingOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: colors.$dimmed-gray;
  z-index: 500;

  &.active {
    display: block;
  }
}


.sidebar {
  // Positioning CSS
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  background: #333;
  transition: right 0.3s;
  z-index: 1000;
  // Positioning CSS end

  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;

  &.active {
    right: 0;
  }

  .userInfo {
    height: 200px;
    width: 100%;
    background-color: darkred;
    padding-top: 20px;
    padding-bottom: 44px;
    .wrapper {
      .closeButton {
        display: flex;
        justify-content: right;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 24px;
      }
      display: flex;
      flex-direction: column;

      .infoSection {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;

        font-family: colors.$font-inter;
        letter-spacing: 0em;

        .username {
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
        }

        .phoneEmailWrapper {
          display: flex;
          flex-direction: column;
          row-gap: 4px;

          .phone {
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
          }
          .email {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
          }
        }
      }
    }
  }
  .actions {
    height: 80%;
    width: 100%;
    background-color: red;
    .wrapper {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      column-gap: 36px;

      .btn {
        display: flex;
        justify-content: flex-start;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        column-gap: 24px;
        text-transform: none;

        padding-left: 16px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
        &:hover {
          background-color: yellow;
          color: colors.$dark-gray;
        }
        .icon {
          color: inherit;
        }
        .label {
          font-size: 14px;
          font-weight: 700;
          line-height: 17px;
        }
      }
    }
  }
}
