$ultralight-gray: rgba(250, 250, 250, 1);
$verylight-gray: rgba(220, 220, 220, 0.25);
$light-gray: rgba(236, 237, 240, 1);
$medium-gray: rgba(161, 161, 161, 1);
$mediumdark-gray: rgba(108, 109, 110, 1);
$dark-gray: rgba(95, 96, 98, 1);
$dimmed-gray: rgba(0, 0, 0, 0.5);
$border-gray: rgba(0, 0, 0, 0.10);
$separator-gray: rgba(0, 0, 0, 0.12);
$light-pink: rgba(239, 66, 51, 0.05);
$highlight-pink: rgba(239, 66, 51, 0.08);
$tooltip-black: rgba(38, 38, 36, 1);

$ambank-red: rgba(239, 66, 51, 1);
$ambank-red-gradient: linear-gradient(180deg, #EF4233 0%, #C33336 100%);

$font-lato: Lato, sans-serif;
$font-inter: Inter, sans-serif;

$ambank-footer-height: 54px;