@use 'src/app/colors';

html {
  height: 100%;
  background-color: colors.$ultralight-gray;
  font-family: colors.$font-lato;
  body {
    height: inherit;
    background-color: inherit;
  }
}
input {
  font-family: colors.$font-lato;
}