@use "src/app/colors";

.mainLayoutContainer {
  margin: 0;

  display: flex;
  flex-direction: column;
  padding-bottom: colors.$ambank-footer-height;

  .controlbar {
    display: flex;
    width: 100%;
    height: 72px;
    background-color: white;
    box-shadow: 0px 9px 9px 0px colors.$verylight-gray;

    .logoSection {
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: colors.$ambank-red;
    }
    .actionsSection {
      display: flex;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      justify-content: space-between;
      align-items: center;
      color: colors.$dark-gray;

      .header {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: black;
      }
      .actions {
        display: flex;
        align-items: center;
        column-gap: 16px;
        .summary {
          display: flex;
          flex-direction: column;
          row-gap: 2px;
          .summaryName {
            font-weight: 600;
            line-height: 19px;
            text-align: right;
          }
          .summaryRole {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: right;
            color: colors.$medium-gray;
          }
        }
        .item {
          display: flex;
          justify-content: center;
          width: 40px;
        }
      }
    }
  }
  .content {
    margin: 40px;
  }
}
.pointer {
  cursor: pointer;
}
