@use "src/app/colors";

.searchBar {
  $section-vertical-padding: 20px;
  $section-horizontal-padding: 30px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid colors.$light-gray;
  border-radius: 10px;

  .headerSection {
    font-size: 25px;
    padding-left: $section-horizontal-padding;
    padding-right: $section-horizontal-padding;
    padding-bottom: $section-vertical-padding;
    padding-top: $section-vertical-padding;
    border-bottom: 1px solid colors.$light-gray;
  }

  .fieldsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 35px;
    padding-left: $section-horizontal-padding;
    padding-right: $section-horizontal-padding;
    padding-bottom: $section-vertical-padding;
    padding-top: $section-vertical-padding;
    border-bottom: 1px solid colors.$light-gray;

    .field {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
    .input {
      box-sizing: border-box;
      font-size: 16px;
      width: 100%;
      height: 35px;
      background-color: colors.$light-gray;
      border: none;
      border-radius: 5px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .actionsSection {
    display: flex;
    justify-content: flex-end;
    padding-left: $section-horizontal-padding;
    padding-right: $section-horizontal-padding;
    padding-bottom: $section-vertical-padding;
    padding-top: $section-vertical-padding;
    
    .action {
      font-size: 16px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 200px;
      border: none;
      border-radius: 5px;

      &.primaryBtn {
        background-color: rgb(205, 85, 85);
        color: white;
      }
      &.secondaryBtn {
        background-color: white;
        color: rgb(205, 85, 85);
      }
    }
  }
}