@use "src/app/colors";

$section-vertical-padding: 20px;
$section-horizontal-padding: 30px;

.fieldsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: 35px;

  .field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .input {
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    height: 35px;
    background-color: colors.$light-gray;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
