@use "src/app/colors";

$section-vertical-padding: 20px;
$section-horizontal-padding: 30px;

.fieldsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 40px;

  .field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .fieldTitle {
      color: colors.$dark-gray;
      font-family: colors.$font-lato;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
    }
    .fieldInput {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      background-color: colors.$light-gray;
      border: none;
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;

      color: colors.$medium-gray;
      font-family: colors.$font-lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
