@use "src/app/colors";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.userDetailsContainer {
  .detailsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 16px;
  }
}