@use 'src/app/colors';


.userContainer {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  .header {
    color: colors.$dark-gray;
    font-family: colors.$font-lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  
}